html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    align-items: center;
    background-size: cover;
    background: #7A419B;
    background: linear-gradient(135deg, #7c1599 0%,#921099 48%,#7e4ae8 100%);
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    padding: 0;
}

.player {
    border: 5px solid rgba(0,0,0,0.2);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    font-size: 0;
    max-width: 750px;
    overflow: hidden;
    position: relative;
}


.player:fullscreen {
    max-width: none;
    width: 100%;
}

.player:-webkit-full-screen {
    max-width: none;
    width: 100%;
}

.player__video {
    width: 100%;
}

.player__button {
    background: rgba(255, 255, 255, 0.1); 
    border: 0;
    color: white;
    cursor: pointer;
    line-height: 1;
    max-width: 60px;
    padding: 8px;
    text-align: center;
    outline: 0;
    border-radius: 4px; 
    margin: 0 5px;
    transition: all 0.2s ease; 
    font-size: 15px;
}


.player__button:hover {
    background: rgba(255, 255, 255, 0.25);
    border-color: #ffc600;
    transform: scale(1.1); 
}

.toggle {
    font-size: 20px;
    font-weight: bold;
    color: #ffc600; 
}

.player__button:focus {
    border-color: #ffc600;
}

.player__slider {
    width: 10px;
    height: 30px;
}

.player__controls {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(100%) translateY(-5px);
    transition: all .3s;
    flex-wrap: wrap;
    background: rgba(0,0,0,0.7); 
    align-items: center; 
    padding: 10px;

}

.player:hover .player__controls {
    transform: translateY(0);
}

.player:hover .progress {
    height: 15px;
}


.player__controls > * {
    flex: 1;
}

.progress {
    background: rgba(0,0,0,0.5);
    cursor: ew-resize;
    display: flex;
    flex-basis: 100%;
    flex: 10;
    height: 5px;
    position: relative;
    transition: height 0.3s;
}

.progress__filled {
    background: #ffc600;
    flex-basis: 50%;
    flex: 0;
    width: 50%;
}

input[type=range] {
    -webkit-appearance: none;
    background: transparent;
    margin: 0 5px;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: rgba(255,255,255,0.8);
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    cursor: pointer;
    height: 8.4px;
    width: 100%;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #ffc600;
    border-radius: 50px;
    box-shadow:0 0 2px rgba(0,0,0,0.2);
    cursor: pointer;
    height: 15px;
    margin-top: -3.5px;
    width: 15px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #bada55;
}

input[type=range]::-moz-range-track {
    background: #ffffff;
    border-radius: 1.3px;
    border: 0.2px solid rgba(1, 1, 1, 0);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
    cursor: pointer;
    height: 8.4px;
    width: 100%;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background: #ffc600;
    cursor: pointer;
}

input[name="volume"]::-webkit-slider-thumb {
    background: #00d4ff; 
}

input[name="volume"]::-moz-range-thumb {
    background: #00d4ff;
}

input[name="playbackRate"]::-webkit-slider-thumb {
    background: #bada55; 
}

input[name="playbackRate"]::-moz-range-thumb {
    background: #bada55;
}

.player__slider {
    width: 100px;
    height: 30px;
}

input[name="volume"]:hover::after {
    content: ' Volume';
    color: white;
    font-size: 10px;
    position: absolute;
    margin-top: -35px;
}

input[name="playbackRate"]:hover::after {
    content: ' Velocidade';
    color: white;
    font-size: 10px;
    position: absolute;
    margin-top: -35px;
}