/* RESET */
* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background: url(img/todo.jpg) no-repeat center center/ cover;
    display: flex;
    height: 100vh;
    justify-content: center;
}

#add-task-container {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 3px;
    display: flex;
    padding: 20px 10px;
    width: 350px;
}

input {
    border-radius: 10px;
    flex: 5;
    font-size: 1.2rem;
    margin-right: 10px;
    padding: 5px;
}

#add-task {
    background-color: white;
    border: green solid 2px;
    color: green;
    flex: 1;
    font-size: 1.2rem;
    padding: 5px;
    transition: .3s;
}

#add-task:hover {
    background-color: green;
    color: white;
}