/* RESET */
* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-image: linear-gradient(to bottom,#333, rgba(167, 167, 169, 0.35));
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

ul {
    border-radius: 15px;
    border: 5px solid white;
    color: white;
    display: flex;
    flex-flow: column;
    font-size: 30px;
    gap: 20px;
    list-style: none;
    padding: 20px;
}

li {
    background-color: transparent;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}

li:hover {
    background-color: white;
    color: #333;
}