/* RESET */
* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-image: linear-gradient(to right,rgba(255, 0, 0, 0.845), #2c3e50);
    color: white;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    min-height: 100vh;
}

#main-heading {
    margin-bottom: 50px; 
    font-size: 3rem;
}
.container {
    display: flex; 
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
    max-width: 1000px;
    width: 90%;
}


.boxes {
    align-items: center;
    border-radius: 15px;
    border: 2px solid white;
    display: flex;
    flex-direction: column; 
    flex: 1; 
    gap: 30px; 
    height: 300px; 
    justify-content: center;
    min-width: 200px; 
}

button {
    background-color: transparent; 
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px 30px;
    transition: 0.3s; 
}

button:hover {
    background-color: white;
    color: #2c3e50;
}