/* RESET */
* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background: linear-gradient(to bottom, #333,  rgba(128, 128, 128, 0.576));
    color: white;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.div2 {
    align-items: center;    
    background-color: transparent;
    border-radius: 15px;   
    border: 4px solid white; 
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;      
    gap: 30px;            
    height: 450px;
    justify-content: center; 
    width: 350px;           
}

.div1 {
    align-items: center;
    background-color: transparent;
    border-radius: 15px;
    border: 4px solid white;
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    gap: 20px;
    height: 60%;
    justify-content: center;
    width: 60%; 
}

button {
    background: transparent;
    border-radius: 8px;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px 30px;
    transition: 0.3s;
}

button:hover {
    background-color: white;
    color: #2c3e50;
}