/* RESET */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: url(img/hide_and_seek.jpg) no-repeat center/ cover;
    height: 100vh;
    position: relative;
}

#open_button {
    background: transparent;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    box-shadow: 0 0 3px black;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    height: 80px;
    left: 10%;
    padding: 5px;
    position: absolute;
    top: 70%;
    transition: .5s;
    width: 350px;
}

#open_button:hover {
    background-color: white;
    color: black;
}

#modal_container {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3); 
    display: none; 
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}


.modal_content {
    align-items: center;
    animation-duration: 0.4s;
    animation-name: animateModal;
    background-color: white; 
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column; 
    height: 100px;
    justify-content: center;
    position: relative; 
    text-align: center;
    width: 200px;
}

#close_button {
    background: transparent;
    border: none;
    color: green;
    cursor: pointer;
    font-size: 3rem;
    position: absolute;
    right: 5px; 
    top: 0px;   
    line-height: 2rem; 
    transition: 0.3s;
}

@keyframes animateModal {
    from {
        transform: translateY(-400px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}