* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    margin: 0;
    padding: 0;
}

/* VARIABLES */

:root {
    --BASE_COLOR: #ffc600;
    --SPACING: 10px;
    --BLUR: 10px;
}

img {
    padding: var(--SPACING);
    background: var(--BASE_COLOR);
    filter: blur(var(--BLUR));
}

.hl {
    color: var(--BASE_COLOR);
}

body{
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
}

.controls{
    margin-bottom: 50px;
}

input {
    width: 100px;
}


