* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    margin: 0;
    padding: 0;
}

body {
    align-items: center; 
    background: url(img/audience.jpg) no-repeat center center/ cover;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.keys {
    display: flex;        
    flex-wrap: wrap;      
    align-items: center;  
    justify-content: center; 
    gap: 10px;       
}

.key {
    background: rgba(0, 0, 0, 0.4); 
    border-radius: 5px;
    border: 4px solid black;
    color: white;
    cursor: pointer; 
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem .5rem;
    text-align: center;
    text-shadow: 0 0 5px black;
    transition: all 0.07s ease-in-out; 
    width: 100px;
}

.playing {
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
    transform: scale(1.1);
}

kbd {
    display: block;
    font-size: 40px;
}

.sound {
    color: #ffc600;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
