/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* VARIABLES */

:root {
    /*  FONT STYLES */
    --FC: white;
    --FF: sans-serif;
    --FS: 30px
}

/* UTILITY CLASS*/

.nowrap {
    white-space: nowrap;
}

body {
    align-items: center;
    background-image: linear-gradient(45deg, #87CEEB, #18182d);
    color: var(--FC);
    display: flex;
    font-family: var(--FF);
    font-size: var(--FS);
    height: 100vh;
    justify-content: center;
    
}

#main-heading {
    padding: 30px
}

.container {
    border-radius: 15px;
    border: 1px solid white;
    padding: 30px;
    text-align: center;
    width: 60%;
}

.container ul {
    list-style: none;
    padding: 0;
}   

.list-items {
    background-color: white;
    border-bottom: 1px solid black;
    color: #333;
    padding: 10px;
}